*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: #818181;
    color: white;
    height: 4rem;
    text-align: center;
    line-height: 4rem;
}

.choice{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.choice:hover{
    transform: scale(1.1);
    transition: 0.5s;

}

img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.choices{
    display: flex;
    justify-content: space-between;
    margin: 50px;

}


@media (max-width: 700px) {
    .choices {
       display: grid;
       grid-template-columns: repeat(1, 1fr); /* show in column */
       gap: 10px; /* add some gap between choices */
     }
    .img
     {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
        }
   }


#user-score, #computer-score{
    font-size: 5rem;
}
.Score-Board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    margin: 50px;
    gap: 5rem;
}

@media (max-width: 700px) {
    .Score-Board {
        /* display: grid; */
        /* grid-template-columns: repeat(1, 1fr); show in column */
        /* gap: 10px; add some gap between choices */
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;

    }

    #user-score,
    #computer-score {
        font-size: 2rem;

    }
}

.msg-container{
    margin-top: 3rem;
}

@media (max-width: 700px) {
    .msg-container {
        margin-top: 1rem;
    }
}

#msg{
    font-size: 3rem;
    background-color: #818181;
    color: white;
    display: inline;
    border: 2px solid transparent;
    border-radius: 1rem;
    padding: 1rem;
}

@media (max-width: 700px) {
    #msg {
        font-size: 1rem;
        background-color: #818181;
        color: white;
        display: inline;
        border: 2px solid transparent;
        /* border-radius: 1rem; */
        /* padding: 1rem; */
    }
}

.copyright{
    margin-top: 2.4rem;
    font-size: 1.3rem;
}
